@(courses: Seq[Course])(implicit request: RequestHeader, flash: Flash)

@main("Student home"){
<div class="container p-0">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">My courses</a>
    </nav>

    <ul class="list-group mt-3">
        @for(i <- courses){
            <li class="list-group-item"><a href="@routes.CoursesController.coursePage(i.code)">@i.name - @i.code</a></li>
        }
    </ul>

    <div class="m-3 text-right">
        <a href="@routes.Authentication.logout"><button class="btn btn-danger ml-1">Logout</button></a>
    </div>
</div>
}